@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 22% 11%;
    --foreground: 0 0% 100%;
    --muted: 252 8% 65%;
    --border: 253 21% 13%;
    --primary: 189 99% 37%;
    --secondary: 251 24% 18%;
    --success: 150 54% 59%;
    --warning: 27 69% 63%;
    --danger: 359 95% 69%;
    --info: 198 69% 63%;
    --progress: 27 70% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}
