@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 0 0% 16%;
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;
    --primary: 69 100% 50%;
    --secondary: 0 0% 7%;
    --muted: 0 0% 40%;
    --info: 211 100% 50%;
    --success: 155 63% 48%;
    --danger: 3 63% 49%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
